
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

body{

height: 100vh;
width:100%;
display: flex;
justify-content: center;
align-items: center;
background: #f1f1f1;



}
.calculator{

border: 1px solid #717377;
padding :20px;
background: #c9c4bc;
border-radius: 16px;
box-shadow: 0px 3px 15px rgba(113 ,115 ,119,0.5);

}
input{

    width: 320px;
    padding: 24px;
    margin:10px;
    border: none;
    box-shadow: 0px 3px  15px rgba(255, 255, 235, 0.1);
    font-size: 40px;
    text-align:right ;
    cursor: pointer;

}
input::placeholder{

    color: #3a3a3a;
}
button{

    width: 60px;
    height: 60px;
    margin:10px;
    border: none;
    border-radius: 10px;
    background-color: #fefefe;
    cursor: pointer;
    font-size: 20px;
    color: #3a3a3a;
    
}
.eqbtn{
    background: rgb(53, 53, 204);
    color: #fff;
}


